---
import PostList from '@/components/PostList.astro'
import Layout from '@/layouts/Layout.astro'
import type { Work } from '@/types/about'
import type { Post } from '@/types/blog'

const techStacks = [
  ['html', 'css', 'tailwind'],
  ['go', 'nodejs', 'js', 'ts', 'py'],
  ['docker', 'kubernetes', 'terraform'],
]

const works: Work[] = [
  {
    logo: 'https://cdn-images-1.medium.com/max/1200/1*LtO0T530VG9irRJ0Cusm4Q.png',
    url: 'https://www.sirclo.com/',
    name: 'SIRCLO',
    description:
      'SIRCLO Commerce is a channel management solution for businesses across various industries that seek to enter the online distribution path.',
    positions: [
      {
        fromDate: 'Aug 2022',
        untilDate: 'Present',
        title: 'Software Engineer',
        description:
          'Work closely to develop, maintenance, and improve performance of microservices application',
        todo: [
          'Spearheading the design, development, and optimization of microservices architecture to ensure scalability, flexibility, and high performance.',
          'Driving initiatives to optimize resource utilization, reduce latency, and enhance overall system responsiveness.',
          'Actively participating in troubleshooting and incident response activities to maintain system reliability and availability. We called it SWAT',
        ],
      },
    ],
  },
  {
    logo: 'https://storage.googleapis.com/kampusmerdeka_kemdikbud_go_id/mitra/mitra_e7e4d54b-6688-45e9-96a6-1a2e04be63a0.png',
    name: 'Bangkit led by Google, Tokopedia, Gojek & Traveloka',
    description:
      'Bangkit is a unique career readiness program led by Google and delivered with support from industry experts from our industry partners like Gojek, GoTo  and Google. The program is designed to provide the participants with first-hand exposure to real-world practitioners and prepare them with relevant skills for a successful career in leading tech companies.',
    url: 'https://www.linkedin.com/company/bangkit-academy/about/',
    positions: [
      {
        title: 'Machine Learning Engineer (Capstone Project)',
        fromDate: 'May 2022',
        untilDate: 'Jul 2022',
        description: 'Capstone Project is the final project of Bangkit Academy',
        todo: [
          'Planning application workflow',
          'Build Machine Learning model using Tensorflow and Keras',
          'Build deployment with FastAPI',
          'The project can be seen here <a class="underline text-blue-900" target="_blank" href="https://github.com/Maskology">here</a>',
        ],
      },
      {
        title: 'Machine Learning Participant',
        fromDate: 'Feb 2022',
        untilDate: 'Apr 2022',
        todo: [
          'Learn about Python.',
          'Learn IT Automation with Python.',
          'Learn the math behind machine learning.',
          'Using Tensorflow to Build Deep Learning Model.',
        ],
      },
    ],
  },
  {
    logo: 'https://btw-cdn.com/assets/btw-edutech/logo/meta-logo-2.png',
    url: 'https://www.btwedutech.com/',
    name: 'BTW EduTech',
    description:
      'BTW EduTech is an E-Learning platform for student who want have higher chance nation test to enter Civil Service Collage or Public University in Indonesia',
    positions: [
      {
        title: 'Backend Developer',
        fromDate: 'Feb 2021',
        untilDate: 'Feb 2022',
        todo: [
          'Build Scalable Microservices using Laravel Lumen, Express.js, and Go.',
          'Implement Event-Driven Communication using RabbitMQ.',
          'Management data using MongoDB and MYSQL.',
          'Research about design patterns in microservices such as API Gateway, API Composition, CQRS',
        ],
      },
      {
        title: 'Frontend Developer',
        fromDate: 'Dec 2020',
        untilDate: 'Feb 2021',
        todo: [
          'Maintain current frontend websites with HTML, CSS, and Javascript.',
          'Refactor current frontend stylesheets using TailwindCSS.',
          'Build frontend websites using React.js and Typescript.',
        ],
      },
    ],
  },
]

const blobs = await Astro.glob<Post>('./posts/*.md')
let posts: Post[] = blobs.map((blob) => {
  return {
    ...blob.frontmatter,
    pubDate: blob.frontmatter.pubDate.split('T')?.[0] ?? '',
    path: blob.url ?? '',
  }
})
posts = posts
  .sort((a, b) => new Date(b.pubDate).getTime() - new Date(a.pubDate).getTime())
  .slice(0, 3)
---

<Layout title="About">
  <!-- welcome -->
  <div
    class="flex flex-col-reverse justify-center items-center md:flex-row py-6 px-3 md:gap-x-32"
  >
    <div class="text-center md:text-left">
      <h1 class="text-3xl font-bold">
        Hi I am <span class="text-gray-700">Laba</span> 👋
      </h1>
      <p class="text-xl mt-6 leading-9">
        Software Engineer focusing in Backend Development and passionate About
        building scalable and performance Application. Currently work as
        Software Engineer at SIRCLO. Also Linux Enthusiast and currently
        learning about Cloud Computing, Design Pattern and Software Architecture
      </p>

      <!-- socials -->
      <div class="py-6 flex gap-6 justify-center md:justify-start">
        <!-- github -->
        <a href="https://github.com/labasubagia" target="_blank">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-github social-icon"
            ><path
              d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"
            ></path><path d="M9 18c-4.51 2-5-2-7-2"></path></svg
          >
        </a>

        <!-- linkedin -->
        <a href="https://www.linkedin.com/in/labasubagia" target="_blank">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-linkedin social-icon"
            ><path
              d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"
            ></path><rect width="4" height="12" x="2" y="9"></rect><circle
              cx="4"
              cy="4"
              r="2"></circle></svg
          >
        </a>

        <!-- leet code -->
        <a href="https://leetcode.com/labasubagia" target="_blank">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            enable-background="new 0 0 24 24"
            viewBox="0 0 24 24"
            id="leetcode"
            class="social-icon"
            ><path
              d="M20.1,16.007h-9.187c-1.047,0-1.899-0.897-1.899-2s0.853-2,1.899-2H20.1c1.048,0,1.9,0.897,1.9,2S21.147,16.007,20.1,16.007z M10.913,13.507c-0.217,0-0.399,0.229-0.399,0.5s0.183,0.5,0.399,0.5H20.1c0.217,0,0.4-0.229,0.4-0.5s-0.184-0.5-0.4-0.5H10.913z"
            ></path><path
              d="M10.538,24c-1.621,0-3.011-0.55-4.021-1.589l-3.949-4.09C1.557,17.278,1,15.803,1,14.167c0-1.61,0.557-3.072,1.568-4.117l9.174-9.47C12.104,0.206,12.592,0,13.113,0c0,0,0,0,0.001,0c0.54,0,1.049,0.218,1.434,0.614c0.766,0.792,0.78,2.061,0.032,2.828l-1.443,1.511C13.549,5.18,13.985,5.5,14.511,5.95l2.361,1.963c0.804,0.824,0.788,2.093,0.024,2.882c-0.386,0.397-0.895,0.615-1.435,0.615c-0.001,0-0.001,0-0.002,0c-0.521,0-1.007-0.207-1.367-0.581l-2.377-1.876c-0.668-0.497-0.783-0.534-1.19-0.534c-0.422,0-0.803,0.159-1.164,0.486l-3.886,4.069c-0.282,0.291-0.43,0.702-0.43,1.191c0,0.498,0.155,0.945,0.427,1.226l3.937,4.091c0.251,0.26,0.627,0.392,1.116,0.392c0.49,0,0.866-0.132,1.116-0.392l2.461-2.454c0.351-0.363,0.836-0.569,1.357-0.57c0,0,0.001,0,0.002,0c0.539,0,1.049,0.219,1.434,0.616c0.765,0.79,0.78,2.058,0.034,2.825l-2.365,2.469C13.542,23.422,12.113,24,10.538,24z M13.113,1.5c-0.079,0-0.194,0.021-0.294,0.124l-9.173,9.469C2.907,11.856,2.5,12.948,2.5,14.167c0,1.244,0.407,2.349,1.146,3.11c0.001,0.001,0.001,0.001,0.001,0.002l3.948,4.089c0.72,0.74,1.737,1.132,2.943,1.132c1.183,0,2.202-0.405,2.946-1.173l2.365-2.469c0.188-0.193,0.172-0.531-0.032-0.741c-0.1-0.103-0.226-0.159-0.356-0.159l0,0c-0.078,0-0.192,0.021-0.29,0.122l-2.46,2.454c-0.526,0.546-1.285,0.84-2.186,0.84c-0.898,0-1.658-0.294-2.195-0.85l-3.937-4.091c-0.546-0.565-0.848-1.371-0.848-2.268c0-0.874,0.302-1.667,0.849-2.231l3.921-4.104c0.67-0.609,1.421-0.912,2.21-0.912c0.878,0,1.315,0.258,2.104,0.845l2.468,1.957c0.172,0.168,0.285,0.189,0.364,0.189l0,0c0.131,0,0.258-0.057,0.357-0.159c0.202-0.21,0.219-0.549,0.034-0.739l-2.311-1.915c-1.026-0.881-1.474-1.02-1.844-1.086c-0.271-0.05-0.51-0.247-0.595-0.51c-0.086-0.263-0.036-0.554,0.155-0.753l2.241-2.347c0.189-0.195,0.173-0.533-0.03-0.743C13.372,1.557,13.245,1.5,13.113,1.5z"
            ></path></svg
          >
        </a>
      </div>
    </div>

    <img
      class="h-[10rem] w-[10rem] md:h-[15rem] md:w-[15rem] rounded-full my-6 md:my-0"
      src="/img/profile.webp"
      alt="profile"
    />
  </div>

  <!-- tech stacks -->
  <div class="px-3 pb-8 flex flex-col">
    <p class="text-center md:text-left text-2xl">TECH STACK</p>
    <div class="mt-4 flex flex-col gap-y-3 md:gap-y-1 md:flex-row gap-x-8">
      {
        techStacks.map((stacks) => {
          const url = `https://skillicons.dev/icons?i=${stacks.join(',')}`
          return (
            <div class="flex justify-center md:justify-start">
              <img class="hover:top-3 h-12" src={url} alt="tech stack" />
            </div>
          )
        })
      }
    </div>
  </div>

  <!-- experiences -->
  <div class="px-3 py-6">
    <h1 class="text-3xl text-center md:text-left">Experiences</h1>
    <div class="mt-6">
      {
        works.map((work) => {
          return (
            // place
            <div class="flex gap-x-6 p-6 border-2 mb-6 rounded-lg">
              <img class="w-24 h-24" src={work.logo} alt={work.name} />
              <div class="grow">
                <a href={work.url} target="_blank">
                  <p class="text-xl hover:text-gray-700 font-bold leading-9">
                    {work.name}
                  </p>
                </a>
                {work.positions.length > 0 && (
                  <p class="text-gray-600 text-sm">
                    {work.positions[work.positions.length - 1].fromDate} -{' '}
                    {work.positions[0].untilDate}
                  </p>
                )}
                {work.description != null && (
                  <p class="text-gray-700 mt-2">{work.description}</p>
                )}

                <div class="mt-4">
                  {work.positions.map((position) => (
                    // position
                    <div class="mb-4">
                      <p class="text-lg underline">{position.title}</p>
                      <p class="text-gray-600 text-sm mt-1">
                        {position.fromDate} - {position.untilDate}
                      </p>
                      <div class="text-gray-700 mt-2">
                        {position.description != null && (
                          <p>{position.description}</p>
                        )}
                        <div>
                          {position.todo.map((task) => (
                            <p class="flex items-start">
                              <span class="text-2xl leading-6">•&nbsp;</span>{' '}
                              <span set:html={task} />
                            </p>
                          ))}
                        </div>
                      </div>
                    </div>
                  ))}
                </div>
              </div>
            </div>
          )
        })
      }
    </div>
  </div>

  <!-- projects -->
  <!-- <div class="px-3 py-6">
    <h1 class="text-3xl text-center md:text-left">Recent Projects</h1>
  </div> -->

  <!-- blogs -->
  <div class="px-3 py-6">
    <h1 class="text-3xl text-center md:text-left">Recent Posts</h1>
    <div class="py-4">
      <PostList posts={posts} />
    </div>
  </div>
</Layout>

<style>
  .social-icon {
    @apply w-10 h-10;
  }
</style>
